@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Welcome to "Net Crawler"</h1>
    <p class="lead">Let's see what they think!</p>
    
<script>
    (function ($) {
        $(document).ready(function () {
            $("#goHome").addClass("active");
        });
    })(jQuery);
</script>
