
@{
    ViewBag.Title = "ErrorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Error getting data from database. Make sure you've entered correct name.</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index","History")" class="btn btn-primary btn-lg">Check database&raquo;</a>
        </div>

        <div class="col-md-2">
            <a href="@Url.Action("Index","Crawler")" class="btn btn-primary btn-lg">Crawl another board&raquo;</a>
        </div>
    </div>

