
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h2>Database is updated!</h2>
<script>
    (function ($) {
        $(document).ready(function () {
            $("#goCrawling").addClass("active");
        });
    })(jQuery);
</script>

